/* Header */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-top: 5px;
}

.logo {
    height: 50px;
    padding-left: 100px;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}

.links {
    padding-right: 100px;
}

/* Top Content */

.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px;
    background-color: #1f2937;
    text-align: left;
}

.cowboy-image img {
    height: 200px;
    border: groove 5px;
}

.cowboy-image {
    padding-left: 50px;
}

.big-text {
    font-size: 48px;
    font-style: bold;
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    margin: 0;
    padding: 0;
}

.paragraph {
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
}

.upper button {
    background-color: #3882f6;
    color: #f9faf8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border-radius: 4px;
    height: auto;
    padding: 5px;
}

/* Middle Content */

h2 {
    font-size: 36px;
    font-family: 'Roboto',sans-serif;
    color: #1f2937;
}

.content {
   text-align: center;
   padding: 20px;
   background-color: #f9faf8;
}

.content img {
    height: 200px;
    width: 200px;
    padding-top: 20px;
}

.info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    font-family: 'Roboto',sans-serif;
}

/* Quote section */

.quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 36px;
    font-style: italic;
    background-color: #e5e7eb;
}

.quoter {
    font-style: normal;
    font-family: 'Roboto',sans-serif;
    margin-top: 0;
}

/* Call to action */

.cta {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3882f6;
    margin: 50px 100px;
    color: #f9faf8;
    border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Roboto',sans-serif;
}

.cta p {
    font-family: 'Roboto', sans-serif;
    color: #f9faf8;
    margin-top: 0;
    padding-right: 5px;
}
.cta h3 {
    margin-bottom: 2px;
}

.cta button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 10px;
    border: groove white 5px;
}

.footer {
    background-color: #f9faf8;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
}

.bottom-cont {
    background-color: #f9faf8;
}